@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: "Lato", serif;
    background-color: rgb(255, 255, 255);
}

body .container{
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
    "header header"
    "main main"
    "footer footer";
    margin: 0;
    padding: 0;
}

header{
    grid-area: header;
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    flex-direction: column;
    background-color: rgb(35, 35, 35);
    width: 100%;
    margin: 0;
    padding: 0;
}

nav img{
    width: 6rem;
    padding: 0;
    margin: 0;
}

nav a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 400;
    font-style: normal;
}


/* NAVIGATION TOP */

.nav-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;
    margin: 0;
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(75, 75, 75);
    padding: 0 0 0 1rem;
    border-radius: 2rem;
    margin: 0;
}

.search-input{
    border: none;
    outline: none;
    box-shadow: none;
    background-color: transparent;
    color: rgb(255, 255, 255);
    width: 100%;
}

.search-input::placeholder{
    color: rgb(180, 180, 180);
}

.search button{
    background-color: transparent;
    border: none;
    border-radius: 0 2rem 2rem 0;
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 1rem;
}

/* CARRITO */

.cart{
    padding: 0;
    margin: 0;
    position: relative;
}

.cart-icon{
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
}

.cart-count{
    position: absolute;
    top: -40%;
    right: -30%;
    width: 1rem;
    height: 1rem;
    background-color: rgb(231, 148, 99);
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: .6rem;
    cursor: pointer;
    transition: all .1s ease-in-out;
}

.hidden-count{
    opacity: 0;
    visibility: none;
}

#count-products{
    font-size: .8rem;
}

.cart-products-container{
    position: absolute;
    top: 100%;
    right: 0;
    background-color: rgb(255, 255, 255);
    width: 20rem;
    display: flex;
    flex-direction: column;
    z-index: 1;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    transition: all .1s ease-in-out;
}

.cart-close-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.cart-close-bar-title{
    font-size: 1.3rem;
    font-weight: 700;
}

.cart-icon-close{
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.5);
    transition: all .2s ease-in-out;
    color: rgb(0, 0, 0);
}

.cart-icon-close::before {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.cart-icon-close:hover{
    cursor: pointer;
    background-color: rgb(230, 230, 230);
}

.cart-products{
    display: flex;
    flex-direction: column;
}

.cart-product{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.cart-product-price{
    font-weight: 700;
}

.cart-total{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.cart-total h3{
    font-size: 1.2rem;
    font-weight: 700;
}

.total-pay{
    font-size: 1.2rem;
    font-weight: 900;
}

.hidden-cart{
    visibility: hidden;
    opacity: 0;
}

/* NAVIGATION BOTTOM */

.nav-bottom{
    display: flex;
    position: relative;
    justify-content: center;
    background-color: rgb(35,35,35);
    margin: 0;
    padding: 1rem 0;
}

.nav-bottom a{
    padding: 1rem;
}

.nav-bottom ul{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.nav-bottom a:hover{
    text-decoration: underline 3px;
    text-decoration-color: rgb(6,64,172);
}

.submenu-marcas{
    position: absolute;
    width: 100%;
    background-color: rgb(35,35,35);
    padding: 0;
    margin: 0;
    top: 100%;
    left: 0;
}

.submenu-marcas li a{
    display: flex;
    text-align: center;
}

.nav-marcas .submenu-marcas{
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.17s ease, visibility 0.17s ease;
}

.nav-marcas:hover .submenu-marcas{
    opacity: 1;
    visibility: visible;
}

/* MAIN */

main{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: main;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
}

.container-product{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 3rem;
    gap: 3rem;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}

.product-img-cover img{
    width: 35rem;
}

/*  */

.img-container{
    display: flex;
    max-height: 35rem;
}

.product-img-column img{
    width: 5rem;
    border: 1px solid rgba(0, 0, 0, .1);
    cursor: pointer;
}

.product-img-column{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    overflow: hidden;
}

/*  */

.info-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.product-title{
    font-size: 1rem;
}

.payment-section{
    display: flex;
    flex-direction: column;
}

.product-price{
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
}

.payment-methods{
    display: flex;
    gap: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: .5rem;
}

.texto-cuotas{
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: .5rem;
    border-top: 0;
}

.product-sizes{
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
}

.select-size-subtitle{
    margin: 1rem 0;
    font-weight: 700;
}

.sizes-list{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.item-size{
    background-color: rgb(250, 250, 250);
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 5px;
    width: 3.5rem;
    height: 2rem;
    text-align: center;
    cursor: pointer;
    align-content: center;
}

.item-size:hover{
    border: 1px solid rgba(0, 0, 0, 1);
}

.add-to-chart-button button{
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    padding: 1rem;
    width: 100%;
    background-color: rgb(35, 35, 35);
    transition: background-color .1s ease-in-out;
    cursor: pointer;
}

.add-to-chart-button button:hover{
    background-color: rgba(0, 0, 0, 0.75);
}

.description-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding: 0 3rem;
}

.description-subtitle{
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
}

.description-text{
    padding: 0 0 2rem 0;
    width: 50%;
}

/* FOOTER */

footer{
    grid-area: footer;
    background-color: rgb(35, 35, 35);
    margin: 0;
    padding: 0;
    width: 100%;
}

.footer-sections{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
    padding: 1rem 10rem;
    margin: 0;
    width: 100%;
    height: 100%;
    align-items:baseline;
    color: rgb(255, 255, 255);
}

.footer-sections a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.footer-item h1{
    display: flex;
    justify-content: center;
    margin: 0 0 .5rem 0;
}

.footer-item{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

.socialmedia-links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    font-size: 3rem;
}

.socialmedia-links a:hover{
    color: rgb(172, 170, 170);
}

.footer-copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    border-top: 1px solid rgb(100, 100, 100);
    font-size: .8rem;
    color: rgb(255, 255, 255);
    background-color: rgb(35, 35, 35);
    font-weight: 400;
}